<li>
	<a href="/dev-doc/overview">Overview</a>
</li>
<li>
	<a href="/dev-doc/basics">Basics</a>
</li>

{# to do: add new content and update existing content in resources/views/content/devguide in components.twig #}

<!--li>
	<a href="/dev-doc/components">Components</a>
</li-->

{# to do: add content for examples and cookbook in resources/views/content/devguide in examples.twig and cookbook.twig #}

<!-- li>
	<a href="/dev-doc/examples">Examples</a>
</li>
<li>
	<a href="/dev-doc/cookbook">Cookbook</a>
</li-->
