{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}

    <h1 id="category-module">Module Category1</h1>
    {% for item in categoryItems %}
        <h2>{{ item.itemBase.addCmsPage }}</h2>
        Item: {{ item.itemDescription.name1 }}
    {%  endfor %}

    <p>
        This module handles issues on category data e.g. receiving categories of a specified type or resolving category urls.
    </p>

    <h2 id="category-repository">Repositories</h2>

    {% include 'PlentyPluginShowcase::content.category.CategoryRepository.twig' %}

    <h2 id="category-model">Model</h2>

    {% include 'PlentyPluginShowcase::content.category.models.Category.twig' %}

    <h1 id="category-examples">Examples</h1>

    {% include 'PlentyPluginShowcase::content.category.examples.CategoryListsExample.twig' %}
    {% include 'PlentyPluginShowcase::content.category.examples.CategoryNavigationExample.twig' %}

{% endblock %}