{% extends 'PlentyPluginShowcase::HtmlStructure' %}

        {% block MainFrame %}
            <div class="jumbotron">
                <h1 class="text-center">plentymarkets plugins</h1>
                <h2 class="text-center">Make it your own</h2>
            </div>


            <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">&nbsp;</div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="lead text-center">
                <strong>plentymarkets Plugins</strong> combine elements
                of popular tools and frameworks
                hence giving you the chance to create your
                own powerful plugins.
                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">&nbsp;</div>


            </div>


        {% endblock %}