{% extends 'PlentyPluginShowcase::HtmlStructure' %}

        {% block MainFrame %}
            <div class="plugin-opener row">

            </div>


            <div class="row claim">
                <div class="container">
                    <h1 data-link="ignore">plentymarkets plugins - create your own! </h1>
                    <hr class="blue" />
                    <p>
                        For nearly 10 years, plentymarkets has provided all features from one source.
                        Our customers' needs have always been our main source of inspiration when developing new
                        features for the software. We have sought to fulfill these needs by adding automatic processes
                        and making our system fully customisable. In a one-stop software, however, even the best
                        solutions can never suit all. There is another way: we are opening plentymarkets for your plugins!
                    </p>
                </div>
            </div>

            <div class="row components">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
               <a href="http://sass-lang.com/">
                   <img class="component-image" src="{{ plugin_path('PlentyPluginShowcase') }}/img/sass.png" />
               </a>
                <h2 data-link="ignore">Preprocessors</h2>
                <hr />
                <p class="component-text">
                    Sass is the most mature, stable and powerful professional grade CSS extension language in the world.
                    It is compatible with all CSS versions and offers a large number of frameworks built with Sass.

                </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center ">
                <a href="http://twig.sensiolabs.org/">
                    <img class="component-image" src="{{ plugin_path('PlentyPluginShowcase') }}/img/twig.png" />
                </a>
                <h2 data-link="ignore">Template-Engine</h2>
                <hr />
                <p class="component-text">
                    Twig is a modern template engine for PHP. Twig it is fast as it compiles templates down to optimized PHP, it is secure and evaluates untrusted template code and it is flexible and open to custom tags and filter.

                </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                <a href="http://hacklang.org/">
                    <img class="component-image" src="{{ plugin_path('PlentyPluginShowcase') }}/img/hack.png" />
                </a>

                <h2 data-link="ignore">Programming Language</h2>
                <hr />
                <p class="component-text">
                    Hack is a programming language for HHVM. Hack reconciles the fast development cycle of a dynamically
                    typed language with the discipline provided by static typing, while adding many features commonly
                    found in other modern programming languages.

                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                <a href="https://www.plentymarkets.eu/">
                    <img class="component-image" src="{{ plugin_path('PlentyPluginShowcase') }}/img/plentymarkets.png" />
                </a>
                <h2 data-link="ignore">plentymarkets</h2>
                <hr />
                <p class="component-text">
                    plentymarkets is the e-commerce ERP solution that includes stock management, a complete online
                    store, interfaces to the major online markets and a wide range of payment and shipping service
                    providers, which ensures the entire e-commerce workflow runs smoothly.
                </p>
            </div>
            </div>


        <div class="row components">
            <div class="container text-center">
                <p class="download-text">This plentymarkets plugin is open source. It’s developed and maintained on GitHub.</p>
                <a href="https://github.com/plentymarkets/plenty-plugin-showcase" class="btn btn-large btn-primary">Download Project on GitHub</a>
            </div>
        </div>


    <footer class="grey-back">
        <div class="row">
            <ul>
                <li><a>Sass - Syntactically Awesome Style Sheets.</a></li>
                <li><a>Twig - PHP Template Engine.</a></li>
                <li><a>Hack- programming language for HHVM.</a></li>
            </ul>
        </div>
    </footer>
        {% endblock %}