{% extends 'PlentyPluginShowcase::HtmlStructure' %}

{% block MainFrame %}
    <div class="jumbotron">
        <h1>plentymarkets plugin showcase</h1>
        <p>Erläuterung und Beispiele für die Entwicklung von plentymarkets plugins.</p>
    </div>
{% endblock %}