{% extends 'PlentyPluginShowcase::HtmlStructure' %}
{% import 'PlentyPluginShowcase::macros.recursiveTree' as recursiveTree %}

{% block MainFrame %}
	<ul class="nav nav-tabs nav-justified">
		{% if navigationHome %}
			<li class="active"><a data-toggle="tab" href="#description">Description</a></li>
			<li><a data-toggle="tab" href="#demo">Demo</a></li>
		{% else %}
			<li><a data-toggle="tab" href="#description">Description</a></li>
			<li class="active"><a data-toggle="tab" href="#demo">Demo</a></li>
		{% endif %}
		<li><a data-toggle="tab" href="#code">Code</a></li>
	</ul>

	<div class="tab-content">
		{% if navigationHome %}
			<div id="description" class="tab-pane fade in active">
		{% else %}
			<div id="description" class="tab-pane fade">
		{% endif %}
		    <h3>Description</h3>
		    <p>Ablauf:</p>
		    <ul>
		    	<li>Wenn die Route '/showcase' ist -> rufe Controller auf (landingPage) -> LandingPage.twig</li>
		    	<li>Wenn die Route mit '/a-123' oder anderen Zahlen statt der 123 endet -> rufe Controller auf (showItemView)</li>
		    	<li>Wenn die Route '/showcase/navigation/' ist -> rufe Controller auf (showCategory)</li>
		    	<li>Wenn keine andere Route gefunden wurde -> rufe Controller auf (showCategory)</li>
		    	<li>Checke ob eine Kategorie existiert, die der Adresse nach "/showcase/" entspricht</li>
		    	<li>Wenn ja -> Zeige alle Artikel der aktiven Kategorie (CategoryView.twig) | Wenn nein -> Weiterleitung zu 404 (in Demo auf Navigationsstartseite)</li>
		    	<li>Bei Klick auf Artikel -> rufe Controller auf (showItemView)</li>
		    	<li>Zeige Artikeldetailansicht (ItemView.twig)</li>
		    </ul>
		</div>
		{% if navigationHome %}
			<div id="demo" class="tab-pane fade">
		{% else %}
			<div id="demo" class="tab-pane fade in active">
		{% endif %}
		    <div class="row">
				<div class="col">

					<nav class="navbar navbar-default">
			            <div class="container">
			                <div class="navbar-header">
			                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
			                        <span class="sr-only">Toggle navigation</span>
			                        <span class="icon-bar"></span>
			                        <span class="icon-bar"></span>
			                        <span class="icon-bar"></span>
			                    </button>
			                    <a class="navbar-brand" href="#">Navigation Menu</a>
			                </div>
			                <div id="navbar2" class="navbar-collapse collapse">
			                    <ul class="nav navbar-nav">

			                    	{{ recursiveTree.output(categoryTree, url('showcase')~'/') }}
			                        
			                    </ul>
			                </div><!--/.nav-collapse -->
			            </div>
			        </nav>

		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col">
		    		{% block ViewFrame %}
		    		{% endblock %}
		    	</div>
			</div>
		</div>
		<div id="code" class="tab-pane fade">
		    <h3>Codeschnipsel</h3>
		    
		    <p>Ace Editor mit Codebeispielen.</p>

		</div>
	</div>
	

{% endblock %}