{% extends 'PlentyPluginShowcase::HtmlStructure' %}
{% import 'PlentyPluginShowcase::macros.recursiveTree' as recursiveTree %}

{% block MainFrame %}
	<ul class="nav nav-tabs nav-justified">
		<li><a data-toggle="tab" href="#description">Description</a></li>
		<li class="active"><a data-toggle="tab" href="#demo">Demo</a></li>
		<li><a data-toggle="tab" href="#code">Code</a></li>
	</ul>

	<div class="tab-content">
		<div id="description" class="tab-pane fade">
		    <h3>Description</h3>
		    <p>Eine Erklärung zur NAvigation</p>
		</div>
		<div id="demo" class="tab-pane fade in active">
		    <div class="row">
				<div class="col">

					<nav class="navbar navbar-default">
			            <div class="container">
			                <div class="navbar-header">
			                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
			                        <span class="sr-only">Toggle navigation</span>
			                        <span class="icon-bar"></span>
			                        <span class="icon-bar"></span>
			                        <span class="icon-bar"></span>
			                    </button>
			                    <a class="navbar-brand" href="#">Navigation Menu</a>
			                </div>
			                <div id="navbar2" class="navbar-collapse collapse">
			                    <ul class="nav navbar-nav">

			                    	{{ recursiveTree.output(categoryTree, url('showcase')~'/') }}
			                        
			                    </ul>
			                </div><!--/.nav-collapse -->
			            </div>
			        </nav>

		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col">
		    		{% block ViewFrame %}
		    		{% endblock %}
		    	</div>
			</div>
		</div>
		<div id="code" class="tab-pane fade">
		    <h3>Codeschnipsel</h3>
		    
		    <p>Ace Editor mit Codebeispielen.</p>

		</div>
	</div>
	

{% endblock %}