{% import 'PlentyPluginShowcase::macros.apiDoc.twig' as apiDoc %}

{{ apiDoc.printClass(
    'CategoryRepository',
    'Plenty\\Modules\\Category\\Contracts',
    'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ',
    [
        {
            name: "all",
            description: "",
            call: "all( ?string $lang=\"de\" ):?array&lt;<a href=\"#category-model-category\">Category</a>&gt;",
            params:
            [
                {
                    name: "$lang",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"de\""
                }
            ]
        },
        {
            name: "get",
            description: "",
            call: "get( int $category_id, ?string $lang=\"de\"):?<a href=\"#category-model-category\">Category</a>",
            params:
            [
                {
                    name: "$category_id",
                    type: "int",
                    isMandatory: true,
                    isNullable: false
                },
                {
                    name: "$lang",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"de\""
                }
            ]

        },
        {
            name: "getByType",
            description: "",
            call: "getByType( string $type, ?string $lang=\"de\"):?array&lt;<a href=\"#category-model-category\">Category</a>&gt;",
            params:
            [
                {
                    name: "$type",
                    type: "string",
                    isMandatory: true,
                    isNullable: false
                },
                {
                    name: "$lang",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"de\""
                }
            ]
        },
        {
            name: "hasChildren",
            description: "",
            call: "hasChildren( int $category_id ):bool",
            params:
            [
                {
                    name: "$category_id",
                    type: "int",
                    isMandatory: true,
                    isNullable: false
                }
            ]
        },
        {
            name: "getChildren",
            description: "",
            call: "getChildren( int $category_id, ?string $lang=\"de\"):?&lt;<a href=\"#category-model-category\">Category</a>&gt;",
            params:
            [
                {
                    name: "$category_id",
                    type: "int",
                    isMandatory: true,
                    isNullable: false
                },
                {
                    name: "$lang",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"de\""
                }
            ]
        },
        {
            name: "getSitemapList",
            description: "",
            call: "getSitemapList( string $type=\"all\", ?string $lang=\"de\"):?&lt;<a href=\"#category-model-category\">Category</a>&gt;",
            params:
            [
                {
                    name: "$type",
                    type: "string",
                    isMandatory: false,
                    isNullable: false,
                    defaultValue: "\"all\""
                },
                {
                    name: "$lang",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"de\""
                }
            ]
        },
        {
            name: "getSitemapTree",
            description: "",
            call: "getSitemapList( string $type=\"all\", ?string $lang=\"de\"):?&lt;<a href=\"#category-model-category\">Category</a>&gt;",
            params:
            [
                {
                    name: "$type",
                    type: "string",
                    isMandatory: false,
                    isNullable: false,
                    defaultValue: "\"all\""
                },
                {
                    name: "$lang",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"de\""
                }
            ]
        },
        {
            name: "getUrl",
            description: "",
            call: "getUrl( int $id=\"all\", ?string $lang=\"de\"):string",
            params:
            [
                {
                    name: "$id",
                    type: "int",
                    isMandatory: true,
                    isNullable: false
                },
                {
                    name: "$lang",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"de\""
                }
            ]
        },
        {
            name: "findCategoryByUrl",
            description: "",
            call: "findCategoryByUrl(\n\tstring $level1=\"\",\n\t?string $level2=\"\",\n\t?string $level3=\"\",\n\t?string $level4=\"\",\n\t?string $level5=\"\",\n\t?string $level6=\"\"\n):?<a href=\"#category-model-category\">Category</a>",
            params:
            [
                {
                    name: "$level1",
                    type: "string",
                    isMandatory: true,
                    isNullable: false
                },
                {
                    name: "$level2",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"\""
                },
                {
                    name: "$level3",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"\""
                },
                {
                    name: "$level4",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"\""
                },
                {
                    name: "$level5",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"\""
                },
                {
                    name: "$level6",
                    type: "string",
                    isMandatory: false,
                    isNullable: true,
                    defaultValue: "\"\""
                }
            ]
        }
    ]
) }}

