<h3 id="category-model-category" data-title="Category">
    <code>Category</code>
    <small>Plenty\Modules\Category\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
    <tr>
        <th>Field</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>id</td>
        <td>int</td>
        <td>ID of the category</td>
    </tr>
    <tr>
        <td>parentCategoryId</td>
        <td>int</td>
        <td>ID of the parent category</td>
    </tr>
    <tr>
        <td>categoryLevel</td>
        <td>int</td>
        <td>Depth of the category in the category tree</td>
    </tr>
    <tr>
        <td>type</td>
        <td>string</td>
        <td>type of the category: ('item' | 'content' | 'blog' | 'container' )</td>
    </tr>
    <tr>
        <td>linklist</td>
        <td>bool</td>
        <td>visibility in link lists</td>
    </tr>
    <tr>
        <td>sitemap</td>
        <td>bool</td>
        <td>visibility in the sitemap</td>
    </tr>
    <tr>
        <td>right</td>
        <td>string</td>
        <td>visibility to groups: 'all' | 'customer'</td>
    </tr>
    <tr>
        <td>webstoreID</td>
        <td>int</td>
        <td>ID of the linked store</td>
    </tr>
    <tr>
        <td>lang</td>
        <td>string</td>
        <td>language of the category, e.g. 'en', 'de', etc.</td>
    </tr>
    <tr>
        <td>name</td>
        <td>string</td>
        <td>The category name</td>
    </tr>
    <tr>
        <td>description</td>
        <td>string</td>
        <td>category description (1)</td>
    </tr>
    <tr>
        <td>description2</td>
        <td>string</td>
        <td>category description (2)</td>
    </tr>
    <tr>
        <td>shortDescription</td>
        <td>string</td>
        <td>short description</td>
    </tr>
    <tr>
        <td>metaKeywords</td>
        <td>string</td>
        <td>meta keywords of the category</td>
    </tr>
    <tr>
        <td>metaTitle</td>
        <td>string</td>
        <td>the meta title</td>
    </tr>
    <tr>
        <td>metaDescription</td>
        <td>string</td>
        <td>the meta description</td>
    </tr>
    <tr>
        <td>metaRoboty</td>
        <td>string</td>
        <td>'all' | 'index' | 'nofollow' | 'noindex' | 'noindex, nofollow'</td>
    </tr>
    <tr>
        <td>nameUrl</td>
        <td>string</td>
        <td>category name used in urls</td>
    </tr>
    <tr>
        <td>image</td>
        <td>string</td>
        <td>image url of category image 1</td>
    </tr>
    <tr>
        <td>image2</td>
        <td>string</td>
        <td>image url of category image 2</td>
    </tr>
    <tr>
        <td>position</td>
        <td>int</td>
        <td>position in link lists</td>
    </tr>
    <tr>
        <td>itemListView</td>
        <td>string</td>
        <td>the linked ItemList template</td>
    </tr>
    <tr>
        <td>singleItemView</td>
        <td>string</td>
        <td>linked template for displaying items</td>
    </tr>
    <tr>
        <td>pageView</td>
        <td>string</td>
        <td>PageDesign to use for this category</td>
    </tr>
    <tr>
        <td>fulltext</td>
        <td>bool</td>
        <td>allow fulltext search in this category</td>
    </tr>
    <tr>
        <td>placeholderTranslation</td>
        <td>string</td>
        <td>translation of template placeholders: 'Y' - translate all placeholders, 'N' - no translation, 'L' - translate only link placeholders and functions</td>
    </tr>
    <tr>
        <td>canonicalLink</td>
        <td>string</td>
        <td>Canonical link of the category</td>
    </tr>
    <tr>
        <td>children</td>
        <td>array&lt;Category&gt;</td>
        <td>child categories or <code>null</code></td>
    </tr>
    </tbody>
</table>