body
{
  padding-top: 70px;
}

ul.categoryDetails
{
  list-style-type: none;
}

.categoryView.isGridView .itemBox .name
{
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
}

.h-lg-2.adapt-line-height
{
  line-height: 165px;
}

.h-lg-2
{
  height: 165px;
}

.block
{
  display: block;
}

.fixed-right
{
  position: fixed;
  top: 92px;
  right: 0;
  width: 25%;
  font-size: .9em;
}

.fixed-right a:hover
{
  text-decoration: none;
}

.nav.nav-list
{
  margin-bottom: 24px;
}

.nav.nav-list > li
{
  padding: 4px 0;
}

.nav.nav-list > li > a
{
  padding: 2px 12px;
  border-left: 2px solid transparent;
}

.nav.nav-list > li > a:hover {
  background-color: transparent;
}

.nav.nav-list > li.active > a
{
  border-color: #777;
}