body {
  padding-top: 70px;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.text-small {
  font-size: .75em;
}

.text-tt {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.has-hover .hover-visible,
.has-hover:hover .hover-hidden {
  display: none;
}

.has-hover:hover .hover-visible,
.has-hover .hover-hidden {
  display: inline-block;
}

/* sidebar nav */

.nav.nav-list {
  margin-bottom: 24px;

  li {
    font-weight: bold;
    padding: 4px 0;

    a {
      color: #777;
      background: none;
      outline: none;
      padding: 2px 12px;
      border-left: 2px solid transparent;
    }

    a:hover {
      color: #333;
    }
  }

  li.active {
    > a {
      color: #333;
      border-color: #777;
    }
  }

  li > ul {
    padding-left: 20px;
    display: none;
    list-style: none;
  }
  li.active ul {

    display: block;

    li {
      padding: 0;
    }
    li ul li {
      font-weight: normal;
    }

  }
}

.fixed-right {
  position: fixed;
  top: 92px;
  right: 0;
  width: 25%;
  font-size: .9em;
}

.fixed-right a:hover {
  text-decoration: none;
}

/* examples */
.example-container {
  margin-bottom: 48px;
}

.example-container .panel-example {
  margin-top: 24px;
}

.editor-container {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.panel-expandable {
  max-height: 350px;
  overflow: auto;
}

.panel-expandable.expanded {
  max-height: none;
}

.panel-expandable .panel-expandable-inner {
  position: relative;
}

.panel-expandable [data-toggle="height"] {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: .9em;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: block;
  z-index: 100;
}

.item-box img {
  height: 100px
}

.item-box h4 {
  height: 20px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.item-box .item-description {
  height: 40px;
  overflow: hidden;
}

.table.model-table tr td {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
}

.table.model-table tr td:last-child {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* ACE-Editor OVERWRITES */
.ace_static_highlight.ace_show_gutter {
  background: #f7f7f9 none repeat scroll;
}

.panel-footer {
  background-color: transparent;
}

ul.nav.nav-tabs li.active {
  background-color: #F7F7F9;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:active {
  background-color: #F7F7F9;
}

.nav-tabs > li.active > a:hover {
  background: none;
}
