$white: #FFFFFF;
$alabaster-grey: #F8F8F8;
$mercury-grey: #E3E3E3;
$cararra-grey: #ECECEC;
$smoke-white: #F5F5F5;
$stormdust-grey: #666666;
$abbey-black: #4D4E53;
$bondi-blue: #008EBE;
//plentymarkets blue

$blue-prim: $bondi-blue;
$text-grey: $stormdust-grey;

body {
  padding-top: 50px;
  color: $abbey-black;
}

.api-docs-basics {
  margin-bottom: 30px;
}

.container {
  max-width: 1000px;
}

.row {
  margin: 0;
}

.component-image {
  max-width: 100%;
  height: auto;
  text-align:center;
}

.img-horizontal {
  width: 80%;
}

.img-vertical {
  width: 40%;
}

.padding0 {
  padding: 0;
}

/* MAIN-MENU ---------------------------------------------------------- */
a {
  &:hover{
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.navbar-default {
  background-color: $white;
  box-shadow: 1px 1px 2px #999;
}


/* /MAIN-MENU ---------------------------------------------------------- */



/* HEADLINES  ---------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  color: $abbey-black;
  margin: 30px 0 10px 0;
  font-weight: 400;
}

.lead, p {
  color: $text-grey;
}

p {
  font-size: 14px;
}

p.component-text  {
  font-size:16px;
}



/* HEADER ---------------------------------------------------------- */

.plugin-opener {
  color: $white;
  padding: 40px 0;
  background-color: $blue-prim;
  box-shadow: 1px 1px 2px #999;
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 245px;
  background-position:center;
  h1 {
    color: $white;
    border: none;
    font-size: 62px;
    padding-bottom: 0;
    letter-spacing: 2px;
    font-weight: 400;
  }
  h2 {
    color: $white;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
  }
  div {
    padding: 0;
  }
}
/* /HEADER ---------------------------------------------------------- */

h1 {
  border-bottom: 1px solid $mercury-grey;
  padding-bottom: 12px;
}

.claim h1 {
  text-align: center;
  border: none;
  padding: 0;
}

h3 small {
  font-family: Menlo;
  color: $stormdust-grey;
  font-size: 12px;
}

h3 code,
h4 code {
  background-color: $alabaster-grey;
  padding: 2px 12px;
  color: $blue-prim;
}

p.h4 {
  color: $abbey-black;
}

.api-doc-method h4 {
  background-color: $white;
  border: 1px solid $mercury-grey;
  padding: 12px 20px;
  margin-bottom: -4px;
}

/* -- */

/* HELPER CLASSES ---------------------------------------------------------- */

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.text-small {
  font-size: .75em;
}

.text-tt {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* -- */

.has-hover .hover-visible,
.has-hover:hover .hover-hidden {
  display: none;
}

.has-hover:hover .hover-visible,
.has-hover .hover-hidden {
  display: inline-block;
}

/* SIDEBAR ---------------------------------------------------------- */
.nav.nav-list {
  margin-bottom: 24px;

  li {
    font-weight: bold;
    padding: 8px 0;
    font-size: 14px;

    a {
      color: #777;
      background: none;
      outline: none;
      padding: 2px 12px;
      border-left: 2px solid transparent;
    }

    a:hover {
      color: #333;
    }
  }

  li.active {
    font-size: 14px;
    > a {
      color: #4D4D53;
      border-color: $blue-prim;
    }
  }

  li > ul {
    padding-left: 20px;
    display: none;
    list-style: none;
  }
  li.active > ul {

    display: block;

    li {
      padding: 4px 0;
      font-size: 12px;
    }

  }
  li ul li {
    font-weight: normal;

    a:focus {
      text-decoration: none;
    }
  }
}

.fixed-right {
  position: fixed;
  top: 92px;
  right: 0;
  width: 25%;
  font-size: .9em;
}

.fixed-right a:hover {
  text-decoration: none;
}

.nav.nav-list {
  margin-bottom: 24px;
}

.nav.nav-list > li {
  padding: 4px 0;
}

.nav.nav-list > li > a {
  padding: 2px 12px;
  border-left: 2px solid transparent;
}

.nav.nav-list > li > a:hover {
  background-color: transparent;
}

.nav.nav-list > li.active > a {
  border-color: $blue-prim;
}

/* -- */

/* examples */
.example-container {
  margin-bottom: 48px;
}

.example-container .panel-example {
  margin-top: 24px;
}

.editor-container {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: $cararra-grey;
  overflow: hidden;
}

.panel-expandable {
  max-height: 350px;
  overflow: auto;
}

.panel-expandable.expanded {
  max-height: none;
}

.panel-expandable .panel-expandable-inner {
  position: relative;
}

.panel-expandable [data-toggle="height"] {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: .9em;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: block;
  z-index: 100;
}

.item-box img {
  height: 100px
}

.item-box h4 {
  height: 20px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.item-box .item-description {
  height: 40px;
  overflow: hidden;
}

/* TABLES */
.filter-table tr td {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
}

.filter-table tr td:last-child {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.filter-table {
  margin-left: 40px;
  max-width: 90%;
  background-color: $white;
}

.model-table {
  background-color: $alabaster-grey;
  border: 1px solid $mercury-grey;
  margin: 30px 0 50px 0;
}

/* /TABLES */

.code-container {
  color: #333;
  position: relative;
  margin: 16px 0 40px 0;
  overflow: visible;
  border-radius: 0;
  border-left: 4px solid $blue-prim;
}

.code-container-2 {
  color: #333;
  border-radius: 0;
  border-left: 4px solid $blue-prim;
}

.route-container{
  background-color: #292b36;
  color: #ffffff;
  border-radius: 6px;
  position: relative;
  overflow: visible;
  margin: 40px 0 20px 0;
  padding: 6px 18px;
  border-color: #bbb;

  code {
    background: none;
    color: $white;
  }

  &:before {
    content: attr(data-type);
    position: absolute;
    top: -30px;
    left: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: $blue-prim;
    color: $white;
  }

  &[data-middleware="oauth"]:after {
    content: "\e033  oauth";
    position: absolute;
    top: -30px;
    font-family: "Source Sans Pro", 'Glyphicons Halflings';
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: $blue-prim;
    color: $white;
  }

  &[data-type="get"]:after {
    left: 40px;
  }
  &[data-type="get"]:before {
    background-color: green;
  }

  &[data-type="put"]:after {
    left: 41px;
  }
  &[data-type="put"]:before {
    background-color: #e5c500;
  }

  &[data-type="post"]:after {
    left: 50px;
  }

  &[data-type="post"]:before {
    background-color: $blue-prim;
  }

  &[data-type="delete"]:after {
    left: 64px;
  }
  &[data-type="delete"]:before {
    background-color: #ed0039;
  }
}

pre {
  background-color: $white;
  padding: 10px;
  border-radius: 0;

  &.language-json {
    overflow: auto;
  }

  &.language-html {
    margin: 40px 0 20px 0;
    padding: 10px;
  }

  &.language-api .str {
    color: $white;
  }

  &.language-api .pln,
  &.language-api .pun {
    color: #65B042;
  }

  &.prettyprint {
    padding: 6px 18px;
    border: 1px solid $mercury-grey;
    border-left: none;
    position: relative;
    overflow-y: hidden;
  }

  .str {
    color: #65B042;
  }

  .kwd {
    color: #E28964;
  }
  .com {
    color: #AEAEAE;
    font-style: italic;
  }
  .typ {
    color: #8C3F8C;
  }
  .lit {
    color: #3387CC;
  }
  .pun {
    color: #262626;
  }
  .pln {
    color: #262626;
  }
  .tag {
    color: #89bdff;
  }
  .atn {
    color: #bdb76b;
  }
  .atv {
    color: #65B042;
  }
  .dec {
    color: #3387CC;
  }
}

/* decimal - blue */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

.spacer {
  margin: 10px;
}

/* margins and paddings */
.api-doc-method-container {
  background-color: $alabaster-grey;
  padding: 30px;
  border: 1px solid $mercury-grey;
}

.label-white {
  background-color: $white;
  color: $blue-prim;
  padding: 2px 6px;
  font-family: Menlo;
  font-size: 12px;
}

.api-doc-method a:link {
  text-decoration: underline;
}

.item-model-container {
  background-color: $smoke-white;
  padding: 30px;
  border: 2px solid $cararra-grey;
}

.api-doc-param p {
  padding-left: 40px;
}

.jumbotron {
  background-color: $alabaster-grey;
  margin-top: 40px;
  border: 2px solid $cararra-grey;
}

.jumbotron h1 {
  border: none;
}

.jumbotron h2 {
  font-weight: 200;
}

.jumbotron p {
  font-weight: 100;
  color: $mercury-grey;
}

.components {
  padding: 40px 0;
  margin:  0;
}

.components div {
  padding: 0 20px;
}

.components h2 {
  margin:0;
}

.download-text {
  color: $text-grey;
  font-size: 18px;
  padding: 20px 0;
}

.claim {
  padding: 40px 0;
  background-color: $alabaster-grey;
  border-bottom: 1px solid $cararra-grey;

  p {
    text-align: center;
    font-size: 18px;
  }

  h1 {
    padding:0;
    margin:0;
  }
}

hr {
  border-top: 1px solid #ccc;
  width: 20%;
}

hr.blue {
  border-top: 2px solid $blue-prim;
  width: 80%;
}

/* BUTTONS --------------------------------------------- */
.btn {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  line-height: 22px;
  margin-bottom: 0;
  text-align: center;
  transition: all 0.3s ease 0s;
  vertical-align: middle;

  &:hover {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.15), 0 -100px 0 200px rgba(255, 255, 255, 0.2) inset;
    text-decoration: none;
    outline: 0 none;
    background-color: #008ebd;
  }

  &:active {
    outline: 0 none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  }
}

.btn-large {
  min-width: 180px;
  font-size: 18px;
  height: auto;
  padding: 9px 20px;
}

.btn-primary {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008ebd;
}

/* /BUTTONS --------------------------------------------- */

.label {
  font-weight: 300;
}

/* CODE STYLES ------------------------------------------------------------ */
code {
  font-size: 14px;
  font-family: "Menlo";
  font-style: normal;
  font-weight: 400;
  word-wrap: normal;
  white-space: pre;
  background-color: $white;
  color: $blue-prim;
}

/* -- */
.panel-footer {
  background-color: $alabaster-grey;
  border: 1px solid $cararra-grey;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-bottom-color: $mercury-grey;
}

.nav-tabs {
  border-bottom: none;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: $white;
}

.panel {
  margin-bottom: 60px;
}

.img-pretty {
  background-color: $alabaster-grey;
  padding: 20px;
  border: 1px solid $mercury-grey;
}

.grey-back {
  background-color: $alabaster-grey;
}

/* MEDIA QUERIES ---------------------------------------------------------- */
@media (max-width: 768px) {
  .plug {
    text-align: left;
  }
  .lead {
    font-size: 21px;
  }
}

/* -- */

/* FOOTER ---------------------------------------- */
footer {
  padding: 40px;
  border-top: 1px solid #e7e7e7;
}

footer li {
  list-style: none;
  margin: 10px 0;
}

footer a {
  font-size: 16px;
}

/* /FOOTER ---------------------------------------- */

/* Callisto availability icon */

.availabilityIcon {
  display: inline-block;
  margin-top: 2px;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-left: 8px
}

.availabilityIcon span {
  display: block;
  width: 100%;
}

.availabilityIcon span {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.5) inset;
}

.availabilityIcon span + span {
  margin-top: -1px;
}

.availabilityIcon.availabilityDetails-1 span {
  height: 100%;
}

.availabilityIcon.availabilityDetails-2 span {
  height: 8px;
}

.availabilityIcon.availabilityDetails-3 span {
  height: 6px;
}

.availabilityIcon.availabilityDetails-1 .second,
.availabilityIcon.availabilityDetails-1 .third,
.availabilityIcon.availabilityDetails-2 .third {
  display: none;
}

.availabilityDetails-1.available-1 .first,
.availabilityDetails-1.available-2 .first,
.availabilityDetails-1.available-3 .first,
.availabilityDetails-1.available-4 .first,
.availabilityDetails-2.available-1 .first,
.availabilityDetails-2.available-1 .second,
.availabilityDetails-2.available-2 .first,
.availabilityDetails-2.available-2 .second,
.availabilityDetails-2.available-3 .second,
.availabilityDetails-2.available-4 .second,
.availabilityDetails-3.available-1 .first,
.availabilityDetails-3.available-1 .second,
.availabilityDetails-3.available-1 .third,
.availabilityDetails-3.available-2 .second,
.availabilityDetails-3.available-2 .third,
.availabilityDetails-3.available-3 .third {
  background-color: #3b0;
}

.availabilityDetails-1.available-5 .first,
.availabilityDetails-1.available-6 .first,
.availabilityDetails-1.available-7 .first,
.availabilityDetails-1.available-8 .first,
.availabilityDetails-2.available-3 .first,
.availabilityDetails-2.available-4 .first,
.availabilityDetails-2.available-5 .first,
.availabilityDetails-2.available-5 .second,
.availabilityDetails-2.available-6 .first,
.availabilityDetails-2.available-6 .second,
.availabilityDetails-2.available-7 .second,
.availabilityDetails-2.available-8 .second,
.availabilityDetails-3.available-2 .first,
.availabilityDetails-3.available-3 .first,
.availabilityDetails-3.available-3 .second,
.availabilityDetails-3.available-4 .first,
.availabilityDetails-3.available-4 .second,
.availabilityDetails-3.available-4 .third,
.availabilityDetails-3.available-5 .second,
.availabilityDetails-3.available-5 .third,
.availabilityDetails-3.available-6 .third {
  background-color: #fc3;
}

.availabilityDetails-1.available-9 .first,
.availabilityDetails-1.available-10 .first,
.availabilityDetails-2.available-7 .first,
.availabilityDetails-2.available-8 .first,
.availabilityDetails-2.available-9 .first,
.availabilityDetails-2.available-9 .second,
.availabilityDetails-2.available-10 .first,
.availabilityDetails-2.available-10 .second,
.availabilityDetails-3.available-5 .first,
.availabilityDetails-3.available-6 .first,
.availabilityDetails-3.available-6 .second,
.availabilityDetails-3.available-7 .first,
.availabilityDetails-3.available-7 .second,
.availabilityDetails-3.available-7 .third,
.availabilityDetails-3.available-8 .second,
.availabilityDetails-3.available-8 .third,
.availabilityDetails-3.available-9 .third {
  background-color: #f11;
}

.availabilityDetails-3.available-8 .first,
.availabilityDetails-3.available-9 .first,
.availabilityDetails-3.available-9 .second,
.availabilityDetails-3.available-10 .first,
.availabilityDetails-3.available-10 .second,
.availabilityDetails-3.available-10 .third {
  background-color: #aaa;
}

/* END availability icon */
