{% extends 'PlentyPluginShowcase::HtmlStructure' %}
{% import 'PlentyPluginShowcase::content.macros.ScrollNavigation' as Navi %}

{% block MainFrame %}
	<div class="row">
		<div class="col-sm-9">
			<div class="page-header">
				<h1>Einleitung <span class="label label-warning">In Bearbeitung</span></h1>
			</div>

			<p>Durch das neue Plugin-System von plentymarkets, soll die Möglichkeit geschaffen werden eigene Scripte,
				Templates, Komponenten und Ressourcen in das plentymarkets System einbinden zu können.
				Um dies zu ermöglichen, wurden bewusst Schnittstellen im plentymarkets System geschaffen welche die
				Plugin-Entwickler nutzen können um Informationen mit dem plentymarkets System austauschen zu können.</p>

			<h2>Plugin-Typen</h2>

			<p>Plugins unterteilen sich in bestimmte Plugin-Typen. Je nachdem zu welchem Typ ein Plugin gehört, wird es
				von den plentymarkets Prozessen initialisiert oder nicht. Ein Plugin vom Typ "export"
				wird bespielsweise keine Routen für das Front-End registrieren können.</p>

			<p>Zur Zeit wird zwischen den folgenden Plugin-Typen unterschieden</p>

			<h3>export</h3>

			<p>Das plentymarkets System wurde um eine weitere Export-Möglichkeit, dem "Elastischen Export", erweitert.
				Dieser ermöglicht es dem Anwender mit Hilfe von Filtern und Format-Informationen, ein Exportprofil
				anzulegen.
				Mit einem Plugin vom Typ "export" hat der Plugin-Entwickler hier weitere Möglichkeiten individuelle
				Exportprofile zu registrieren. Dabei kann beispielweise ein eigener Generator zum erstellen der
				Exportdatei oder ein OutputHandler
				zur Veröffentlichung der Datei, implementiert werden.</p>

			<h3>design</h3>

			<p></p>
		</div>
		<div class="col-sm-3">
			{{ Navi.generateNavigation(['test', 'test2', {'test3':['test3.1', 'test3.2']}]) }}
		</div>
	</div>
{% endblock %}