{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}

<h1 id="rest-introduction">Introducing the plentymarkets REST API</h1>

<div class="api-docs-basics">
    <p>
        The plentymarkets REST API expands the functionality of the plentymarkets CMS and allows access to resources, i.e. data records, via unique URI paths. To use the REST API, you need to run an HTTP request and analyse the result. The REST API uses JSON as the communication format combined with the default HTTP methods GET, PUT, POST and DELETE:
    </p>
    <ul>
      <li>
        <b>GET</b> returns data. This method does not modify data saved on the server.
      </li>
      <li>
        <b>PUT</b> modifies an existing data record.
      </li>
      <li>
        <b>POST</b> creates a new data record.
      </li>
      <li>
        <b>DELETE</b> deletes an existing data record.
      </li>
    </ul>
</div>

<h2 id="rest-usage">Using the API</h2>

<div class="api-docs-basics">
    <p>
        ##
    </p>
</div>

<h2 id="rest-versioning">Versioning</h2>

<div class="api-docs-basics">
    <p>
        ##
    </p>
</div>

<h2 id="rest-authentication">Authentication</h2>

<div class="api-docs-basics">
    <p>
        ##
    </p>
</div>

<h2 id="rest-route-permissions">Permissions for routes</h2>

<div class="api-docs-basics">
    <p>
        ##
    </p>
</div>

{% endblock %}
