<li>
	<a href="/rest-doc/introduction">Introduction</a>
</li>
<li><a href="/rest-doc/account">Account</a>
	<ul><li>
			<a href="/rest-doc/account_address">Address</a>
		</li><li>
			<a href="/rest-doc/account_address_configuration">Address Configuration</a>
		</li><li>
			<a href="/rest-doc/account_contact">Contact</a>
		</li><li>
			<a href="/rest-doc/account_contact_type">Contact Type</a>
		</li><li>
			<a href="/rest-doc/account_contact_configuration">Contact Configuration</a>
		</li><li>
			<a href="/rest-doc/account_contact_payment">Contact Payment</a>
		</li><li>
			<a href="/rest-doc/account_contact_address">Contact Address</a>
		</li><li>
			<a href="/rest-doc/account_contact_relation">Contact Relation</a>
		</li><li>
			<a href="/rest-doc/account_contact_option">Contact Option</a>
		</li></ul></li>
<li><a href="/rest-doc/authentication">Authentication</a></li>
<li><a href="/rest-doc/authorization">Authorization</a></li>
<li><a href="/rest-doc/basket">Basket</a></li>
<li><a href="/rest-doc/basket_item">BasketItem</a></li>
<li><a href="/rest-doc/category_template">CategoryTemplate</a></li>
<li><a href="/rest-doc/customer_authentication">CustomerAuthentication</a></li>
<li><a href="/rest-doc/export">Export</a></li>
<li><a href="/rest-doc/export_settings">ExportSettings</a></li>
<li><a href="/rest-doc/item">Item</a>
	<ul><li>
			<a href="/rest-doc/item_variation">Variation</a>
		</li><li>
			<a href="/rest-doc/item_barcode">Barcode</a>
		</li><li>
			<a href="/rest-doc/item_sales_price">SalesPrice</a>
		</li><li>
			<a href="/rest-doc/item_sales_price_name">SalesPrice Name</a>
		</li><li>
			<a href="/rest-doc/item_sales_price_account">SalesPrice Account</a>
		</li><li>
			<a href="/rest-doc/item_sales_price_country">SalesPrice Country</a>
		</li><li>
			<a href="/rest-doc/item_sales_price_currency">SalesPrice Currency</a>
		</li><li>
			<a href="/rest-doc/item_sales_price_customer_class">SalesPrice CustomerClass</a>
		</li><li>
			<a href="/rest-doc/itemsales_price_referrer">salesPrice Referrer</a>
		</li><li>
			<a href="/rest-doc/item_sales_price_webstore">SalesPrice Webstore</a>
		</li><li>
			<a href="/rest-doc/item_variation_barcode">Variation Barcode</a>
		</li><li>
			<a href="/rest-doc/itemvariationmarket_ident_number">variation marketIdentNumber</a>
		</li><li>
			<a href="/rest-doc/item_variation_client">Variation Client</a>
		</li><li>
			<a href="/rest-doc/item_variation_market">Variation Market</a>
		</li><li>
			<a href="/rest-doc/item_variation_default_category">Variation DefaultCategory</a>
		</li><li>
			<a href="/rest-doc/item_variation_sales_price">Variation SalesPrice</a>
		</li><li>
			<a href="/rest-doc/item_variation_category">Variation Category</a>
		</li><li>
			<a href="/rest-doc/item_variation_supplier">Variation Supplier</a>
		</li><li>
			<a href="/rest-doc/item_variation_bundle">Variation Bundle</a>
		</li><li>
			<a href="/rest-doc/item_variation_warehouse">Variation Warehouse</a>
		</li><li>
			<a href="/rest-doc/item_producer">Producer</a>
		</li><li>
			<a href="/rest-doc/item_manufacturer_provision">Manufacturer Provision</a>
		</li><li>
			<a href="/rest-doc/item_shipping_support">ShippingSupport</a>
		</li><li>
			<a href="/rest-doc/item_variation_stock">Variation Stock</a>
		</li><li>
			<a href="/rest-doc/item_unit">Unit</a>
		</li><li>
			<a href="/rest-doc/item_unit_name">Unit Name</a>
		</li><li>
			<a href="/rest-doc/item_attribute">Attribute</a>
		</li><li>
			<a href="/rest-doc/item_attribute_name">AttributeName</a>
		</li><li>
			<a href="/rest-doc/item_attribute_value">AttributeValue</a>
		</li><li>
			<a href="/rest-doc/item_attribute_value_name">AttributeValueName</a>
		</li><li>
			<a href="/rest-doc/item_property_item">PropertyItem</a>
		</li><li>
			<a href="/rest-doc/item_property_item_name">PropertyItemName</a>
		</li><li>
			<a href="/rest-doc/item_property_market_component">PropertyMarketComponent</a>
		</li><li>
			<a href="/rest-doc/item_variation_property">Variation Property</a>
		</li><li>
			<a href="/rest-doc/item_variation_property_value">Variation PropertyValue</a>
		</li></ul></li>
<li><a href="/rest-doc/order_summary">OrderSummary</a></li>
<li><a href="/rest-doc/plugins">Plugins</a></li>
