<li>
	<a href="/rest-doc/category_template">CategoryTemplate</a>
</li>
<li>
	<a href="/rest-doc/export_settings">ExportSettings</a>
</li>
<li>
	<a href="/rest-doc/export">Export</a>
</li>
<li>
	<a href="/rest-doc/plugins">Plugins</a>
</li>
