<li>
	<a href="/rest-doc/introduction">Introduction</a>
</li>
<li>
	<a href="/rest-doc/plugins">Plugins</a>
</li>
<li>
	<a href="/rest-doc/customer_authentication">CustomerAuthentication</a>
</li>
<li>
	<a href="/rest-doc/authentication">Authentication</a>
</li>
<li>
	<a href="/rest-doc/authorization">Authorization</a>
</li>
<li>
	<a href="/rest-doc/item_variation">Item Variation</a>
</li>
<li>
	<a href="/rest-doc/item">Item </a>
</li>
<li>
	<a href="/rest-doc/account_contact">Account Contact</a>
</li>
<li>
	<a href="/rest-doc/item_sales_price">Item SalesPrice</a>
</li>
<li>
	<a href="/rest-doc/item_sales_price_name">Item SalesPrice Name</a>
</li>
<li>
	<a href="/rest-doc/item_sales_price_account">Item SalesPrice Account</a>
</li>
<li>
	<a href="/rest-doc/item_sales_price_country">Item SalesPrice Country</a>
</li>
<li>
	<a href="/rest-doc/item_sales_price_currency">Item SalesPrice Currency</a>
</li>
<li>
	<a href="/rest-doc/item_sales_price_customer_class">Item SalesPrice CustomerClass</a>
</li>
<li>
	<a href="/rest-doc/itemsales_price_referrer">Item salesPrice Referrer</a>
</li>
<li>
	<a href="/rest-doc/item_sales_price_webstore">Item SalesPrice Webstore</a>
</li>
<li>
	<a href="/rest-doc/item_variation_barcode">Item Variation Barcode</a>
</li>
<li>
	<a href="/rest-doc/itemvariationmarket_ident_number">Item variation marketIdentNumber</a>
</li>
<li>
	<a href="/rest-doc/item_variation_client">Item Variation Client</a>
</li>
<li>
	<a href="/rest-doc/item_variation_market">Item Variation Market</a>
</li>
<li>
	<a href="/rest-doc/item_variation_default_category">Item Variation DefaultCategory</a>
</li>
<li>
	<a href="/rest-doc/item_variation_sales_price">Item Variation SalesPrice</a>
</li>
<li>
	<a href="/rest-doc/item_variation_category">Item Variation Category</a>
</li>
<li>
	<a href="/rest-doc/item_variation_supplier">Item Variation Supplier</a>
</li>
<li>
	<a href="/rest-doc/item_variation_bundle">Item Variation Bundle</a>
</li>
<li>
	<a href="/rest-doc/item_variation_warehouse">Item Variation Warehouse</a>
</li>
<li>
	<a href="/rest-doc/item_producer">Item Producer</a>
</li>
<li>
	<a href="/rest-doc/item_manufacturer_provision">Item Manufacturer Provision</a>
</li>
<li>
	<a href="/rest-doc/item_shipping_support">Item ShippingSupport</a>
</li>
<li>
	<a href="/rest-doc/item_variation_stock">Item Variation Stock</a>
</li>
<li>
	<a href="/rest-doc/item_unit">Item Unit</a>
</li>
<li>
	<a href="/rest-doc/item_unit_name">Item Unit Name</a>
</li>
<li>
	<a href="/rest-doc/item_attribute">Item Attribute</a>
</li>
<li>
	<a href="/rest-doc/item_attribute_name">Item AttributeName</a>
</li>
<li>
	<a href="/rest-doc/item_attribute_value">Item AttributeValue</a>
</li>
<li>
	<a href="/rest-doc/item_attribute_value_name">Item AttributeValueName</a>
</li>
<li>
	<a href="/rest-doc/item_property_item">Item PropertyItem</a>
</li>
<li>
	<a href="/rest-doc/item_property_item_name">Item PropertyItemName</a>
</li>
<li>
	<a href="/rest-doc/item_property_market_component">Item PropertyMarketComponent</a>
</li>
<li>
	<a href="/rest-doc/item_variation_property">Item Variation Property</a>
</li>
<li>
	<a href="/rest-doc/item_variation_property_value">Item Variation PropertyValue</a>
</li>
<li>
	<a href="/rest-doc/category_template">CategoryTemplate</a>
</li>
<li>
	<a href="/rest-doc/basket_item">BasketItem</a>
</li>
<li>
	<a href="/rest-doc/basket">Basket</a>
</li>
<li>
	<a href="/rest-doc/account">Account</a>
</li>
<li>
	<a href="/rest-doc/account_address">Account Address</a>
</li>
<li>
	<a href="/rest-doc/account_address_configuration">Account Address Configuration</a>
</li>
<li>
	<a href="/rest-doc/account_contact_type">Account Contact Type</a>
</li>
<li>
	<a href="/rest-doc/account_contact_configuration">Account Contact Configuration</a>
</li>
<li>
	<a href="/rest-doc/account_contact_payment">Account Contact Payment</a>
</li>
<li>
	<a href="/rest-doc/account_contact_address">Account Contact Address</a>
</li>
<li>
	<a href="/rest-doc/account_contact_relation">Account Contact Relation</a>
</li>
<li>
	<a href="/rest-doc/account_contact_option">Account Contact Option</a>
</li>
<li>
	<a href="/rest-doc/order_summary">OrderSummary</a>
</li>
<li>
	<a href="/rest-doc/export_settings">ExportSettings</a>
</li>
<li>
	<a href="/rest-doc/export">Export</a>
</li>
