{# define macro to generate category trees #}
{# @param array<Category> categories    The category tree #}
{% macro output(categories) %}
    <ul class="list-group tree-list">
    {% for category in categories %}
        {# print each category at current level #}
        <li class="list-group-item">
            {{ category.details.first.name }}

            {# print children recursive if exists #}
            {% if category.children is not empty %}
                {{ _self.output( category.children ) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
