{# define macro to generate category lists #}
{# @param array<Category> categories    The category list #}
{% macro output(categories) %}
    <ul class="list-group">
    {% for category in categories %}
        {# print each item #}
        <li class="list-group-item">
            {{ category.details.first.name }}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
