<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>itemCharacterId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>characterId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>characterValue</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>characterValueType</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>isOrderCharacter</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>characterOrderMarkup</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>