<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>abo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>addCmsPage</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>amazonFba</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>amazonProductType</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>apiCondition</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>storeSpecial</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>bestofferAutoDeclinePrice</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>condition</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>crossSellingCharacter</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>customsTariffNumber</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>defaultShippingCost</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>directCrossArticle</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ebayCategory</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ebayCategory2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ebayPreset</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ebayStoreCategory</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ebayStoreCategory2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>epid</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>fedas</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>markingOne</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>markingTwo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>flashFile</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>flashHeight</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>flashWidth</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free11</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free17</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>free20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ageRestriction</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>hasAttribute</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>id</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>inactive</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>createDate</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>isPacket</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>marketStockBuffer</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>noCoupon</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>producingCountryId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>position</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>priceOnly4orderby</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>producer</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>producerId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>rating</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ratingCount</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>revenueAccount</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>scoActive</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>scoMinPrice</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>scoMinStockNet</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>serialNumber</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>shippingWithAmazonFba</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sitemapPublished</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>storingPosition</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>type</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>votes</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>variationCount</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>variationWithAttributeCount</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>