<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>createdTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>deliveryTimeInDays</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>discount</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>discountable</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>id</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>itemNumber</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>variationId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>lastPriceQuery</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>minimumOrderValue</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>packagingUnit</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>purchasePrice</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>supplierId</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>