<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>marketId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>marketAccountId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>initialSku</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sku</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>active</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>createdTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>lastExportTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>deletedTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>marketStatus</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>additionalInformation</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>