<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>imageId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>type</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>fileType</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>path</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>position</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>createTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>cleanImageName</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>attributeValueId</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>