<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>priceId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>price</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>retailPrice</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>retailPriceNet</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>basePrice</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>basePriceNet</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>unitPrice</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>unitPriceNet</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>orderParamsMarkup</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>orderParamsMarkupNet</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>vatId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>vatValue</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>currency</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>exchangeRatio</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>minimumOrderQuantity</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>