<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>code</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>createdTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>barcodeId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>barcodeType</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>barcodeName</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>