<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>variationId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>warehouseId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>warehouseZoneId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>storageLocationType</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>reorderLevel</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>maximumStock</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>stockBuffer</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>stockTurnoverInDays</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>storageLocationId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>createdTimestamp</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>