<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>categoryId</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>position</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>neckermannPrimary</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>