<h1>Entwicklungsumgebung</h1>

<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
    accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>


<p>
    <figure class="highlight">
        <pre>
            <code data-lang="bash" class="language-bash">
                plentyPluginShowcase/
                |-- resources/
                    |-- css
                        |-- CSS / SCSS / LESS
                    |-- documents
                        |-- fonts
                    |-- img
                        |-- favicon.png
                        |-- ...
                    |-- js
                    |-- views
                        |-- content
                            |-- basics
                                |-- file1.twig
                                |-- file2.twig
                                |-- ...
                            |-- categories
                                |-- file1.twig
                                |-- file2.twig
                                |-- ...
                            |-- file1.twig
                            |-- file2.twig
                            |-- ...
                         |-- examples
                         |-- macros
                            |-- file1.twig
                            |-- ...
                         |-- templates
                         |-- file1.twig
                |-- src/
                    |-- Controllers
                        |-- file1.hh
                        |-- ...
                    |-- Extensions
                        |-- file1.hh
                        |-- ...
                    |-- Providers
                        |-- file1.hh
                        |-- ...
                |-- config.json
                |-- plugin.json

            </code>
        </pre>
    </figure>
</p>