<h3 id="item-model-itemCrossSelling">
    <code>ItemCrossSelling</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>
<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>itemId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>crossItemId</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>relationship</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>dynamic</td>
            <td>mixed</td>
            <td></td>
        </tr>
    </tbody>
</table>