<h3 id="item-model-itemDescription">
    <code>Record</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>itemId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>characterCache</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>characterCacheXml</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>characterUpdate</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>description</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>id</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>keywords</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>lang</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>metaDescription</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>name1</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>name2</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>name3</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>shortDescription</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>technicalData</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>urlContent</td>
            <td>string</td>
            <td></td>
        </tr>
    </tbody>
</table>