<h3 id="item-model-record">
	<code>Record</code>
	<small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>itemBase</td>
            <td><a href="#item-model-itemBase">ItemBase</a></td>
            <td></td>
        </tr>
        <tr>
        	<td>itemCharacterList</td>
        	<td>array&lt;<a href="#item-model-itemCharacter">ItemCharacter</a>&ht;</td>
        	<td></td>
    	</tr>
    	<tr>
    		<td>itemCrossSellingList</td>
    		<td>array&lt;<a href="#item-model-itemCrossSelling">ItemCrossSelling</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>itemDescription</td>
    		<td><a href="#item-model-itemDescription">ItemDescription</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationAttributeValueList</td>
    		<td>array&lt;<a href="#item-model-variationAttributeValue">VarationAttributeValue</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationBarcode</td>
    		<td><a href="#item-model-variationBarcode">VariationBarcode</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationBarcodeList</td>
    		<td>array&lt;<a href="#item-model-variationBarcode">VariationBarcode</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationBase</td>
    		<td><a href="#item-model-variationBase">VariationBase</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationBundleComponentList</td>
    		<td>array&lt;<a href="#item-model-variationBundleComponent">VariationBundleComponent</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationCategoryList</td>
    		<td>array&lt;<a href="#item-model-variationCategory">VariationCategory</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationImageList</td>
    		<td>array&lt;<a href="#item-model-variationImage">VariationImage</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationLinkMarketplace</td>
    		<td><a href="#item-model-variationLinkMarketplace">VariationLinkMarketplace</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationLinkWebstore</td>
    		<td><a href="#item-model-variationLinkWebstore">VariationLinkWebstore</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationMarketStatus</td>
    		<td><a href="#item-model-variationMarketStatus">VariationMarketStatus</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationRecommendedRetailPrice</td>
    		<td><a href="#item-model-variationRecommendedRetailPrice">VariationRetailPrice</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationRecommendedRetailPriceList</td>
    		<td>array&lt;<a href="#item-model-variationRetailPrice">VariationRetailPrice</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationRetailPrice</td>
    		<td><a href="#item-model-variationRetailPrice">VariationRetailPrice</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationRetailPriceList</td>
    		<td>array&lt;<a href="#item-model-variationRetailPrice">VariationRetailPrice</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationStandardCategory</td>
    		<td><a href="#item-model-variationStandardCategory">VariationStandardCategory</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationStock</td>
    		<td><a href="#item-model-variationStock">VariationStock</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationStockBuffer</td>
    		<td><a href="#item-model-variationStockBuffer">VariationStockBuffer</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationStockList</td>
    		<td>array&lt;<a href="#item-model-variationStock">VariationStock</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationSupplierList</td>
    		<td>array&lt;<a href="#item-model-variationSupplier">VariationSupplier</a>&gt;</td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationWarehouse</td>
    		<td><a href="#item-model-variationWarehouse">VariationWarehouse</a></td>
    		<td></td>
		</tr>
		<tr>
    		<td>variationWarehouseList</td>
    		<td>array&lt;<a href="#item-model-variationWarehouse">VariationWarehouse</a>&gt;</td>
    		<td></td>
		</tr>
    </tbody>
</table>