<h3 id="item-model-variationStock">
    <code>VariationStock</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>warehouseId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>stockPhysical</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>reservedStock</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>reservedEbay</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>reorderDelta</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>stockNet</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>updateAmazon</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>updatePixmania</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>warehouseType</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>reordered</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>reservedBundle</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>averagePurchasePrice</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>warehousePriority</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>lastCalculateTimestamp</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>reservedOutOfStock</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>reservedBasket</td>
            <td>mixed</td>
            <td></td>
        </tr>
    </tbody>
</table>