<h3 id="item-model-variationBase" data-title="VariationBase">
    <code>VariationBase</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>active</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>attributeValueSetId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>autoStockInvisible</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>bundleTyp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>autoStockNoStockIcon</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>autoStockPositiveStockIcon</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>autoStockVisible</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>availability</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>averageOrderQuantity</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>content</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>unitCombinationId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>createdTimestamp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>customNumber</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>estimatedAvailability</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>externalId</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>extraShippingCharge1</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>extraShippingCharge2</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>heightMm</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>id</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>itemId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>lengthMm</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>limitOrderByStockSelect</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>mainWarehouse</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>model</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>operatingCostsPercent</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>packingUnits</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>packingUnitType</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>parentVariationId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>parentItemVariationQuantity</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>picking</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>customsPercent</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>position</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>priceCalculationId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>primaryVariation</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>primaryVariationId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>purchasePrice</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>storageCosts</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>transportationCosts</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>unitId</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>unitLoadDevice</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>unitsContained</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>vatId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>variationName</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>weightG</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>weightNetG</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>maximumOrderQuantity</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>minimumOrderQuantity</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>intervalOrderQuantity</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>availableUntil</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>releaseDate</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>widthMm</td>
            <td>int</td>
            <td></td>
        </tr>
    </tbody>
</table>