<h3 id="item-model-variationRetailPrice">
    <code>VariationRetailPrice</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>priceId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>price</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>retailPrice</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>retailPriceNet</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>basePrice</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>basePriceNet</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>unitPrice</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>unitPriceNet</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>orderParamsMarkup</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>orderParamsMarkupNet</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>classRebatePercent</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>classRebate</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>classRebateNet</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>categoryRebatePercent</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>categoryRebate</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>categoryRebateNet</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>vatId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>vatValue</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>currency</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>exchangeRatio</td>
            <td>float</td>
            <td></td>
        </tr>
    </tbody>
</table>