<h3 id="item-model-variationSupplier" data-title="VariationSupplier">
    <code>VariationSupplier</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>createdTimestamp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>deliveryTimeInDays</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>discount</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>discountable</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>id</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>itemNumber</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>itemVariationId</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>lastPriceQuery</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>minimumOrderValue</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>packagingUnit</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>purchasePrice</td>
            <td>float</td>
            <td></td>
        </tr>
        <tr>
            <td>supplierId</td>
            <td>int</td>
            <td></td>
        </tr>
    </tbody>
</table>