<h3 id="item-model-variationStandardCategory" data-title="VariationStandardCategory">
    <code>VariationStandardCategory</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>categoryId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>plentyId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>manually</td>
            <td>string</td>
            <td></td>
        </tr>
    </tbody>
</table>