<h3 id="item-model-variationImage" data-title="VariationImage">
    <code>VariationImage</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>imageId</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>type</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>fileType</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>path</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>position</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>lastUpdateTimestamp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>createTimestamp</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>cleanImageName</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>attributeValueId</td>
            <td>int</td>
            <td></td>
        </tr>
    </tbody>
</table>