<h3 id="item-model-variationMarketStatus">
    <code>VariationMarketStatus</code>
    <small>Plenty\Modules\Item\DataLayer\Models</small>
</h3>

<table class="table table-hover model-table">
    <thead>
        <tr>
            <th>Feld-Name</th>
            <th>Typ</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td>int</td>
            <td></td>
        </tr>
        <tr>
            <td>additionalInformation</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>firstExportTimestamp</td>
            <td>mixed</td>
            <td></td>
        </tr>
        <tr>
            <td>lastExportTimestamp</td>
            <td>mixed</td>
            <td></td>
        </tr>
    </tbody>
</table>