
{% import 'PlentyPluginShowcase::macros.fileTabs' as tabs %}

<h1>Artikel-Listen</h1>

{{ tabs.output(
    "article-list-examples",
    {
        "ItemList.twig": "PlentyPluginShowcase::examples.categories.ItemList.twig",
        "ListController.twig": "PlentyPluginShowcase::examples.categories.ListController.twig",
        "RouteProvider.twig": "PlentyPluginShowcase::examples.categories.RouteProvider.twig"
    }
) }}
